body {
    font-family: sans-serif;
    margin: 2em;
    background: #fdfdfd;
  }
  
  svg {
    border: 1px solid #ccc;
  }
  

#info {
  max-width: 700px;
  margin-bottom: 1.5em;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}